.editavelDiv {
    /* border: 1px solid #ccc; */
    /* padding: 10px; */
    /* min-height: 50px;
    width: 300px; */
    outline: none; /* Remove outline when div is focused */
    transition: border-color 0.3s;
}

.grid-container{
    display: grid;
    border: 1px;
    border-color: black;
}

.celula-header{
    display: ruby; 
    justify-content: center;
    text-align: center;
    width: auto;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.8);;
    border-color: black;
    color: rgb(5, 38, 70);
    font-size: x-large;
    background-color: rgb(145, 200, 209);

    /* white-space: pre; */
    /* display: inline; */
}

.celuladados{
    display: grid;
    border: 1px solid;
    width: auto;
    border-color: black;
    color:rgb(10, 44, 73);
    transition: border-color 0.3s;
    align-items: center;
    background-color: rgb(145, 200, 209);

    /* white-space: pre; */
    /* display: inline; */
}
.celuladados:hover{
    background-color:rgb(64, 96, 156);
}

.celuladados:focus{
    background-color: #ffffff;
}

/* .celuladados:not(:focus):hover{
    background-color:rgb(105, 235, 147);
} */
