.editavelDiv {
    /* border: 1px solid #ccc; */
    /* padding: 10px; */
    /* min-height: 50px;
    width: 300px; */
    outline: none; /* Remove outline when div is focused */
    transition: border-color 0.3s;
}
.editavelDiv:focus {
    background-color: #c4daec;
/* border-color: #66afe9;  Change border color when focused */ 
}
.grid-container{
    display: grid;
    border: 1px;
    border-color: black;
    background-color: rgb(179, 211, 216);
}
.celula-header{
    display: ruby; 
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.8);;
    border-color: black;
    color: rgb(5, 38, 70);
    font-size: x-large;
    /* white-space: pre; */
    /* display: inline; */
}

.celula-dados{
    display: grid;
    border: 1px solid;
    border-color: black;
    color:rgb(10, 44, 73);
    transition: border-color 0.3s;
    align-items: center;
    /* white-space: pre; */
    /* display: inline; */
}
.celula-dados:hover{
    background-color:rgb(83, 244, 223);
}

.celula-dados:focus{
    background-color: #ffffff;
}

.celula-dados:not(:focus):hover{
    background-color:rgb(105, 235, 147);
}
.celula-dados:change{
    background-color:rgb(242, 65, 65);
}