<div class="grid-container">
    <div class="grid-item" >
        
          <h1>Menu</h1>
          <!-- <app-table></app-table> -->
          <!-- <app-json-table [jsonData]="data"></app-json-table> -->
          <!-- The routed views render in Ithe <router-outlet>-->
          <ul>
            <li><a routerLink="/CarregaArquivo">Carregar Arquivos</a></li>
            <li><a routerLink="/listaDisciplinas" [state]="dadosGradeCursos">Lista de Disciplinas</a></li>
            <li><a routerLink="/Turmas">Cadastro Turmas</a></li>
            <!-- <li><a routerLink="/Teste2">Cadastro de turmas </a></li> -->
            <!-- <li><a href="/ProjCH" >tabela </a></li> -->
          </ul>
          <!-- <p>{{turmas}}</p> -->
        
    </div>
    <div class="grid-item" style="z-index: 1 ; top: 0;left: 30vh;">
        <router-outlet></router-outlet>
    </div>

</div>

