body,html{
    height: 100%;
}
.grid-container {
    display: grid;
    grid-template-columns: 10% 1fr;
    gap: 5px;
    border: 1px solid black;
    padding: 5px;
    /* overflow: auto; */
    height: 100vh;
}
.grid-item {
    border: 1px solid black;
    padding: 10px;
    overflow-y: auto;
    overflow-x: auto;
    height:  100vh;
    width: auto;
    

}
.subgrid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    padding: 10px;
}

nav a {
    margin: 10px;
    text-decoration: none;
    color: #007BFF;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  h1 {
    color: #007BFF;
  }
  
  button {
    margin-top: 10px;
  }
  